RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://13646.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://13646.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://13646.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://13646.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://13646c.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://13646c.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://13646c.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://13646c.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://639.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://639.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://639.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://639.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demo.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demo.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mailgun.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mailgun.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://marketplace.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://marketplace.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://marketplace.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://marketplace.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.13646.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.13646.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.13646.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.13646.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.13646c.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.13646c.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.13646c.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.13646c.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.639.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.639.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.639.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.639.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demo.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demo.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mailgun.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mailgun.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.market.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.market.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.market.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.market.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://13646.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://13646.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://13646.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://13646.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://13646c.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://13646c.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://13646c.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://13646c.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://639.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://639.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://639.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://639.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demo.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demo.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mailgun.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mailgun.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://marketplace.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://marketplace.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://marketplace.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://marketplace.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.13646.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.13646.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.13646.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.13646.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.13646c.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.13646c.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.13646c.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.13646c.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.639.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.639.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.639.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.639.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demo.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demo.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mailgun.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mailgun.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.marketplace.firstmedtrade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.marketplace.firstmedtrade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.marketplace.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.marketplace.firstmedtradeafrica.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.firstmedtradeafrica.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.firstmedtradeafrica.com$      [NC]
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ https://firstmedtradeafrica.com [R,NC]

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ https://marketplace.firstmedtrade.com/$1 [R,L]

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ https://marketplace.firstmedtradeafrica.com/$1 [R,L]