.warpper input.incorrect {
  border: 1px solid #D7385E;
}

.warpper input.correct {
  border: 1px solid #38CBB3;
}

.filter-additional-services li label {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.filter-additional-services .price {
  margin-left: auto;
}

.flights {
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 15px;
}

.item-flight {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 15px;
  align-items: center;  
  color: #84939a;
}

.item-flight .logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  object-position: center center;
}

.item-flight .view-btn {
  border: 1px solid rgb(25, 184, 237);
  padding: 3px 10px;
  color: rgb(25, 184, 237);
  font-size: 13px;
  border-radius: 3px;
}

.item-flight .flight-time .start,
.item-flight .flight-time .end {
  position: relative;
}

.item-flight .flight-time .start .airport,
.item-flight .flight-time .end .airport {    
}

.item-flight .flight-time .start,
.item-flight .flight-time .end {
  max-width: 60px;
  white-space: normal;
  display: inline-block;
  text-align: center;
}

.item-flight .flight-time .arrow {
  border-bottom: 2px solid #eee;
  margin: 0 15px;
  min-width: 100px;
  display: inline-block;  
  text-align: center;
  position: relative;
}

.item-flight .flight-time .arrow .duration {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
}

.flight-price {
  color: #52c5a1;
  font-weight: bold;
  font-size: 16px;
  margin: 0 5px 0 10px;
}

.current-flight {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.current-flight .details {
  padding: 30px 0;
  color: #84939a;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.current-flight .details h2 {
  color: rgb(25, 184, 237);  
  font-size: 23px;
  margin-bottom: 25px;
}

.total-price {
  color: #52c5a1;
  font-weight: bold;
  font-size: 20px;  
}

.booking-btn {
  margin-top: 30px;
  display: table;
  padding: 10px 40px;
  background: rgb(25, 184, 237);
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
}

.flight-info {
  padding: 30px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.flight-info .location-line {
  font-size: 16px;
  display: flex;
  color: #555;
  font-weight: 600;
}


.flight-info .location-line .to {
  margin: 0 15px;
  font-weight: 400;
}

.flight-info .location-line .duration {
  margin-left: auto;
  font-weight: 400;
}

.flight-info .image {
  width: 150px;
  margin: 15px 30px 15px 0;
}


.flight-info .carrier {
  font-size: 16px;
  display: flex;
  color: #555;
  align-items: center;
}


.times-period {
  display: flex;
}

.times-period .start,
.times-period .end {
  position: relative;
}

.times-period .start,
.times-period .end {
  max-width: 60px;
  white-space: normal;
  display: inline-block;
  text-align: center;
}

.times-period .arrow {
  border-bottom: 2px solid #eee;
  margin: 0 15px;
  width: 100%;
  display: inline-block;  
  text-align: center;
  position: relative;
}


.times-period .arrow .duration {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
}
.times-period .start,
.times-period .end {
  position: relative;
}

.times-period .start,
.times-period .end {
  max-width: 60px;
  white-space: normal;
  display: inline-block;
  text-align: center;
}

.times-period .arrow {
  border-bottom: 2px solid #eee;
  margin: 0 15px;
  min-width: 100px;
  display: inline-block;  
  text-align: center;
  position: relative;
}

.times-period .arrow .duration {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
}

#title h1{
  margin: 0;
  padding: 0;
}

.final {
  display: flex;
}

.final-price {
  margin: 30px 0;
  color: #52c5a1;
  font-weight: bold;
  font-size: 18px; 
}

.final .btn-pay-now,
.final .btn-generate-invoice {
  padding: 15px 35px;
}

.filter {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 30px;
  align-items: center;
}

.filter select,
.filter input {
  padding: 5px 10px !important;
  border: unset !important;
  margin: unset !important;
  min-width: 50px;
  max-width: 100px;
  width: auto !important;  
}

.search-btn {
  font-size: 20px;
  color: rgb(25, 184, 237);  
}

.selected-add-services {
  margin: 15px 0;
}

.selected-add-services .selected-add {
  display: flex;  
}

.selected-add .price {
  margin-left: auto;
}

#s section.s_left {  
  width: 20%;
}

#s section.s_center {
  width: 55%;
  display: block;
}

#s section.s_right {  
  width: 25%;
}

.final-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sort-wrapper {
  display: flex;
  justify-content: flex-end;
}

.sort-wrapper .sort {
  display: flex;
}

.sort-wrapper .sort select {
  margin-left: auto !important;
}

select {
  border: 1px solid rgb(206 206 206);  
  color: rgb(88, 88, 88);
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
  padding: 21px 24px;
  border-radius: 48px;
}

.warpper select {
  padding: 18px 28px 18px 20px;
  width: 25%;
  margin: 0 10px 15px 0;
}

.search-results {
  display: flex !important;
  height: unset !important;
}

.search-results .section {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  transform: translateX(0);
  transition: transform .3s;
}

.search-results .section.left {
  max-width: 300px !important;
}

.search-results .section.hide {
  transform: translateX(100%);
  width: 0% !important;
}

.airline-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  max-width: 1200px;
  align-items: center;
}

.travler,
.contact-details {
  box-shadow: 0 2px 2px 0 rgba(5,35,49,.12), 0 0 2px 0 rgba(5,35,49,.14);
  width: 100%;
  margin-bottom: 30px;
}

.travler .header {
  border-bottom: 1px solid rgba(5,35,49,.12);
  padding: 15px 30px;
  color: rgb(59, 59, 59);
}

.contact-details .header {
  border-bottom: 1px solid rgba(5,35,49,.12);
  padding: 15px 30px;
  color: rgb(59, 59, 59);
}

.contact-details .body,
.travler .body {
  padding: 30px;
}

.contact-details .gender,
.travler .gender {
  margin-bottom: 30px;
}

.travler .birth .date {
  display: flex;
}

.travler .birth .date select {
  margin: 0 15px;
}

.travler .birth .date select:first-child {
  margin-left: 0;
}

.travler .birth .date select:last-child {
  margin-right: 0;
}